@{
    Layout = "_Layout";
}
<div class="col-sm col-xl pt-4 px-4">
    <div class="bg-secondary rounded h-100 p-4">
        <form action="/Client/Comment/Add" method="post" role="form">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" name="Text">
                <label for="floatingInput">Yorum</label>
            </div>
            <input hidden type="text" name="ClientId" value="@ViewBag.ClientId" />
            <input hidden type="text" name="RoleId" value="@ViewBag.RestaurantId" />
            <input hidden type="datetime" name="Date" value="@DateTime.Now"/>
            <button type="submit" class="btn btn-sm btn-outline-success saveClient">Kaydet</button>
        </form>
    </div>
</div>