@using Aciktim.Models
@model List<Restaurant>
@{
    Layout = "_Layout";
}

<div class="container-fluid pt-4 px-4">
    <div class="col-12">
        <div class="bg-secondary rounded h-100 p-4">
            <h6 class="mb-4">Restorantlar</h6>
            <div class="row mb-0">
                @foreach (Restaurant r in Model)
                {
                    <a href="/Client/Restaurant/Index/@r.RestaurantId/@ViewBag.id">
                        <div class="bg-secondary rounded d-flex align-items-center justify-content-between p-4">
                            <div class="col-sm-4">
                                <img class="img-fluid mx-auto mb-4" src="~/img/@r.Image.ImageUrl" style="height: 100px;">
                            </div>
                            <span class="col-sm-4">@r.RestaurantName</span>
                        </div>
                    </a>
                    <div class="col-sm-4">
                        @if (ViewBag.Restaurant.Contains(r))
                        {
                            <span class="col-sm-4">Favori Restorant</span>
                            <a href="/Client/Home/DeleteFavorite/@r.RestaurantId/@ViewBag.id" class="btn btn-sm btn-sm-square btn-outline-primary">X</a>
                        }
                        else
                        {
                            <a href="/Client/Home/AddFavorite/@r.RestaurantId/@ViewBag.id" class="btn btn-sm btn-sm-square btn-outline-info">+</a>
                        }
                    </div>
                    <hr class="dropdown-divider">
                }
            </div>
        </div>
    </div>
</div>
