@using Aciktim.Models
@model Category
@{
    Layout = "_Layout";
}
<div class="col-sm col-xl pt-4 px-4">
    <div class="bg-secondary rounded h-100 p-4">
        <form action="/Restaurant/Category/Update" method="post" role="form">
            <input hidden type="text" name="CategoryId" value="@Model.CategoryId" />
            <input hidden type="text" name="RestaurantId" value="@Model.RestaurantId" />
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="CategoryName" name="CategoryName" value="@Model.CategoryName">
                <label for="floatingInput">Kategori Adı</label>
            </div>
            <button type="submit" class="btn btn-sm btn-outline-success">Kaydet</button>
        </form>
    </div>
</div>